/*colores*/
/*paletas rosas*/

.Rosas{
  
  --bg-rosa: #FFAEBC;
  --text-rosa: #FFAEBC;
  --bg-fucsia:#a93f55;
  --text-fucsia: #a93f55;
}

/*fin paletas rosas*/
/*colores fríos*/
.Violetas
{
  --bg-violeta: #2d3142;
  --text-violeta: #2d3142;
  --bg-rosaintenso:#e97676;
  --text-rosaintenso:#e97676;
  
}

/*fin colores fríos*/
/*colores grises*/
.Grises
{
  --bg-Gris: #3a3a3a;
  --text-Gris: #3a3a3a;
  --bg-GrisC: #d9d8d8;
  --text-GrisC:#d9d8d8;
}

/*inicio de code de la página*/
html, body
{
  height:100%;
  width:100%;
}
body
{
  background:url('https://i.ibb.co/NCHRsf6/d79f51043fa973b75a8969bce7a9216c.jpg');
}
.WebEntera
{
  width:100%;
  height:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  aling-items:end;
}

.MarcoLindo
{
  width:100%;
   height:100%;
  max-width:850px;
  min-width:400px;
  border: 5px solid var(--bg-fucsia);
}

header
{
  width:100%;
  max-width:850px;
  min-wdith:400px;
  height:30%;
  max-width:850px;
  box-sizing:border-box;
  
 position:relative;
  z-index:999;
}

.TheGod
{
  height: 100%;
  width: 100%; 
  min-height:326px;
  max-width:850px;
  min-width:400px;
  background:url('https://i.ibb.co/wYwPqpQ/Date-1.png');
  margin:0 auto;
  border: var(--bg-Gris) solid 10px;
   box-sizing:border-box;
  display:flex;
  align-items: end;
  justify-content:center;
  background-size:cover;
  
}

.TheGod >span
{
  font-family: 'Eczar', serif;
  font-weight:800;
  font-style:italic;
  font-size: 3rem;
  margin: 0auto;
  color: var(--text-rosa);
  text-shadow: 2px -1px var(--bg-Gris);
}

.TheGod +div 
{
  height: 20%px;
  width:100%;
  display:flex;
  flex-direction:row;
     border-bottom: 8px solid var(--bg-fucsia);
  max-width:850px;
  min-width:400px;
}

.TheGod +div > div
{
  background-color: var(--bg-rosa);
  height: 20%;
  width:20%;
  max-width:200px;
  max-height:100px;
  min-height:80px;
  text-align:center;
  line-height:4;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-weight:400;
  font-size:1.2rem;
  color:#000;
  transition:0.5s;
  background-color:var(--bg-rosa);
  display:flex;
  align-items:center;
  justify-content:center;
  border-bottom: 5px solid var(--bg-fucsia);
  
  
}

.TheGod +div > div
{
  position:relative;
  z-index:999;
}

.TheGod +div > div > a
{
  text-decoration:none;
  color:var(--text-Gris);
  
}

.TheGod +div > div:hover
{
  background-color:var(--bg-fucsia);
  letter-spacing:2px;
}
#LinkActivo
{
  background-color:var(--bg-violeta)!important;
  color: var(--text-rosa);
}


.TodoCentrado
{
  max-width:850px;
  min-width:400px;
   width:100%;
  max-height:100px;
  background-color:var(--bg-rosa);
  display:flex;
  justify-content:start;
  align-items:center;
  border-bottom: 12px solid var(--bg-fucsia);
}

.FotoBienvenida
{
   
 margin-left: 2%;
background:url('https://i.ibb.co/HxRYN4Z/Dise-o-sin-t-tulo-1-removebg-preview.png');
  height:80px;
  width:80px;
  -webkit-box-shadow:inset 0px 0px 0px 9px var(--bg-fucsia);
    -moz-box-shadow:inset 0px 0px 0px 9px var(--bg-fucsia);
    box-shadow:inset 0px 0px 0px 9px var(--bg-fucsia);
  position:relative;
  z-index:1;
  
  
}

.FotoBienvenida
{
  border-left: 4px solid var(--bg-violeta);
  border-radius: 50%;
  border-top: 3px solid var(--bg-rosa);
  border-bottom: 3px solid var(--bg-rosa);
  border-right: 4px solid var(--bg-violeta);
  position:relative;
  outline: 5px solid var(--bg-fucsia);
  outline-offset: 8px;
  position:relative;
  z-index:1;
}

.ComienzoBody
{
  border-top: 20px solid var(--bg-fucsia);
  max-width:850px;
  min-with:400px;
  width:100%;
  height: 100%;
  background-color:var(--bg-Gris);
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10%;
  position:relative;
  z-index:100;
}

.YuriPerfil
{
  background:url('https://i.ibb.co/VCZR20w/Dise-o-sin-t-tulo-2.png');
  width:100%;
  height:10%;
  min-height:190px;
  max-width:200px;
  margin-left: 4%;
  margin-top: 20%;
  outline: 10px solid var(--bg-rosa);
  outline-offset:10px;
  box-sizing:border-box;
  border: 2px solid var(--bg-rosaintenso);
 
  
  
}

.YuriPerfil + div
{
  display:flex;
  flex-direction:column;
  margin-top: 5.9%;
  margin-left:2%;
  max-width:350px;
  width:100%;
  height:36%;
  
  
  
}

.YuriPerfil + div > div
{
  margin-top:28.8%;
  width:100%;
  height:10%;
  max-width:300px;
  min-width:300px;
  min-height:26px;
  background-color: var(--bg-rosa);
  font-family:'Eczar', italic;
  font-size: 2rem;
  text-align:center;
  padding-bottom:3%;
  color:var(--bg-Gris);
  font-weight: 400px;
  
  
  
}

.YuriPerfil + div >div + div
{
  background-color:var(--bg-Gris);
  color:var(--bg-GrisC);
 
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:10px;
  font-style:none;
  text-shadow: 0px!important;
  text-align: justify;
  margin: 3.4%;
  height:100%;
  width:100%;
  max-width:280px;
  max-height:175px;
  overflow-y:scroll;
  padding-right:3%;
  
}

.Pdb
{
  display:flex;
  flex-direction:column;
  width: 751px;
   height: 202px;
  background-color:var(--bg-Gris);
  position:relative;
  font-family:'Lato', sans-serif;
 
  
}

.Theprofile
{
  width:751px;
  height:80px;
  background-color:var(--bg-rosa);
  text-align:center;
  padding-top:2%;
}

.Theprofile > span
{
  
  font-family: 'Eczar', serif;
  font-weight:400;
  font-size:1.5rem;
}

.PdbImage
{
  background:url('https://i.ibb.co/mC1ZFrm/unnamed.jpg');
  width: 96px;
  height:96px;
  position:absolute;
  border-radius: 50%;
  left:5%;
  top:20%;
  border: 5px solid var(--bg-Gris);
}

.YuriPerfil + div + a
{
  text-decoration:none;
  color: var(--text-Gris);
}

/*inicio lateral derecha*/

.BarraDerecha
{
      
  margin-right:0%;
    max-width: 400px;
  min-witdh:400px;
  height:100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BarraDerecha > div
{
  box-sizing:border-box;
  border: 4px solid var(--bg-fucsia);
   
}

.Actualizaciones
{
  background-color: var(--bg-Gris);
  width:100%;
  min-width:250px;
  min-height: 350px;
}

.Actualizaciones > span
{
  background-color:var(--bg-fucsia);

  font-size:2rem;
  color: var(--bg-Gris);
  
  padding-top:4%;
  padding-bottom:4%;
  padding-right:12%;
  padding-left:13%;
  font-family:'Eczar', 'serif';
  line-height:2;
 
  
}

/*fin barra derecha*/

/*scrolls*/

#Queen-Scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#Queen-Scroll::-webkit-scrollbar
{
	width: 3px;
  background-color: var(--bg-rosa);
}

#Queen-Scroll::-webkit-scrollbar-thumb
{
	background-color: var(--bg-rosa);
	
}
